@{
    ViewData["Title"] = "Gallery";
    Layout = "_AdminLayout";

}
@model Resty.Web.Models.Food.FoodItemCategoryViewModel

<button onclick="app.main.foodItemCategory.showAddFoodItemCategory()"
        class="w3-button w3-dark-grey">
    + New Food Category
</button>

<div class="table-responsive">
    <table class="table w3-border w3-bordered w3-striped w3-centered w3-hoverable">
        <thead>
            <tr class="w3-blue">
                <th>Name</th>
                <th>SortOrder</th>
                <th>Enabled?</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var foodItemCategory in ViewBag.FoodItemCategories)
        {
            if (foodItemCategory != null)
            {
                <tr id="foodCategoryForm-@foodItemCategory.Id">

                    <td style="display: none">
                        <input value="@foodItemCategory.Id" type="text" asp-for="Id" style="width: 100%" onfocusout="app.main.foodItemCategory.editFoodItemCategory(event)" />
                    </td>

                    <td class="jqLabelInput" name="Name">@foodItemCategory.Name</td>
                    <td style="display: none">
                        <input value="@foodItemCategory.Name" type="text" asp-for="Name" style="width: 100%" placeholder="@foodItemCategory.Name" onfocusout="app.main.foodItemCategory.editFoodItemCategory(event)" />
                    </td>

                    <td class="jqLabelInput">@foodItemCategory.SortOrder</td>
                    <td style="display: none">
                        <input value="@foodItemCategory.SortOrder" type="text" asp-for="SortOrder" style="width: 100%" placeholder="@foodItemCategory.SortOrder" onfocusout="app.main.foodItemCategory.editFoodItemCategory(event)" />
                    </td>


                    <td class="jqLabelInput"><input type="checkbox" @(foodItemCategory.IsEnabled ? "checked" : "") /></td>

                    <td>
                        <i id="@foodItemCategory.Id" class="far fa-trash-alt" onclick="app.main.foodItemCategory.deleteFoodItemCategory(event)"></i>
                    </td>
                </tr>

            }

        }
    </table>
</div>


<form id="addFoodItemCategoryForm" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="app.main.foodItemCategory.hideAddFoodItemCategory()"
                  class="w3-button w3-display-topright">&times;</span>
            <div class="form-group">
                <label for="inputName">Name *</label>
                <input asp-for="Name" type="text" class="form-control" id="inputName" placeholder="Name">
                <span asp-validation-for="Name" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                <label for="inputSO">Sort Order *</label>
                <input asp-for="SortOrder" type="text" class="form-control" id="inputSO" placeholder="Sort order">
                <span asp-validation-for="SortOrder" class="invalid-feedback"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" name="IsEnabled" value="true" type="checkbox" id="isEnabled">
                    <label class="form-check-label" for="isEnabled">
                        Is the category enabled?
                    </label>
                </div>
            </div>
        </div>
        <button type="button" onclick="app.main.foodItemCategory.addFoodItemCategory()" class="w3-button w3-round w3-green w3-display-bottomright">Add</button>
    </div>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.jqLabelInput').click(function (e) {
                $(this).hide();

                const nextTd = $(e.target).next();
                nextTd.show();
                nextTd.children(':first').focus();
            });
        });
    </script>
}
